name: Build

on:
  push:
    branches:
      - master
    paths:
      - "src/**"
      - "Cargo.toml"
      - ".github/**"
  pull_request:
    branches:
      - master
    paths:
      - "src/**"
      - "Cargo.toml"
      - ".github/**"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        rust: [stable]
        os: [ubuntu-latest, macOS-10.15, macOS-11.0, windows-latest]
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@master
        with:
          rust-version: ${{ matrix.rust }}
          components: rustfmt, clippy
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run cargo fmt
        run: cargo fmt --all -- --check
      - name: Run cargo clippy
        # run: cargo clippy --all -- -D clippy::pedantic -D clippy::nursery -D warnings
        run: cargo clippy
      - name: Run tests
        continue-on-error: ${{ startsWith(matrix.os, 'windows') }}
        run: cargo test --verbose
